/* reset y alguna configuración global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
.layout-box {
  max-inline-size: 1280px;
  margin-inline: auto;
}
body {
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00adb5;
}
a:hover {
  color: #006969;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

/* Remover bordes de contenedores iframe, embed, object */
iframe,
embed,
object {
  border: 0;
}
/* Estilos */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #eeeeee;
  background-color: #222831;
}

main {
  background-color: #eeeeee;
  color: #393e46;
}

header {
  background-color: #22283171;
  position: sticky;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  text-align: center;
  top: 0;
  margin-top: 40px;
  margin-bottom: 50px;
}
header nav ul {
  list-style: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00adb5;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #00adb5;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -5px;
}

nav ul li a:hover::after {
  width: 100%;
}

#me {
  background: #222831;
  color: #eeeeee;
  /* padding: 100px 0; */
  text-align: center;
}
#me h1 {
  font-size: 100px;
}
#me p {
  font-size: 50px;
  color: #00adb5;
  text-shadow: 0 0 10px #00838a;
}
#about,
#projects,
#skills,
#contact,
#academy {
  padding: 50px 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-item {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.project-item:hover {
  box-shadow: 0 0 10px #00adb5;
  cursor: pointer;
  transform: scale(1.025);
}

#contact li {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#contact ul li a {
  font-weight: normal;
}
#contact svg {
  height: 50px;
  width: 50px;
}

h2 {
  margin-bottom: 15px;
}

footer {
  background: #222831;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para el panel desplegable */
details {
  margin: 0;
  padding: 0;
}
summary {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 18px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
summary h2 {
  position: relative;
  border-bottom: 3px solid transparent;
  display: inline-block;
}
summary h2::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #00adb5;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -5px;
}
summary:hover h2::after {
  width: 100%;
}
.arrow {
  font-size: 18px;
  transition: transform 0.5s ease;
  margin-left: 5px;
}

details[open] .arrow {
  transform: rotate(180deg);
}

.panel {
  padding: 10px;
  background-color: #222831;
  color: #eeeeee;
  border-radius: 20px;
}
.panel ul li {
  margin: 50px;
}
.panel svg {
  height: 15px;
  width: 15px;
  justify-self: end;
}

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #00adb5;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.3s ease-in-out;
  margin: 50px;
}
.btnText {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}
.btnPrimary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
}
.btnPrimary:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* Estilos para el boton de scroll arriba */

.top-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: sticky;
  bottom: 3%;
  left: 95%;
  border: solid 1px #ff0000;
}
