:root {
  --primary-color: #7209b7;
  --secondary-color: #284b63;
  --black-color: #22232b;
  --white-color: #ffffff;
  --grey-color: #d9d9d9;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-small: 0.5rem;
  --padding-standard: 1.25rem;
  --padding-large: 2rem;
  --border-radius-small: 10px;
  --border-radius-large: 50px;
  --transition-duration: 0.3s;
  --box-shadow-light: 0 4px 15px rgba(199, 199, 199, 0.1);
  --box-shadow-heavy: 0 10px 20px rgba(77, 77, 77, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--white-color);
  background-image: url(/images/texturebackground.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layout-box {
  max-inline-size: 80rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

header {
  text-align: center;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 40, 49, 0.16);
  backdrop-filter: blur(10px);
  z-index: 3;
  padding: var(--padding-standard) 0;
  font-size: var(--font-size-small);
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

nav ul li a {
  position: relative;
  font-weight: 600;
  color: var(--white-color);
  transition: all var(--transition-duration) ease-in-out,
    border-bottom var(--transition-duration) ease-in-out;
  padding-bottom: 0.3125rem;
  border-bottom: 3px solid transparent;
  display: inline-block;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: width var(--transition-duration) ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  transform: scale(1.05);
}


#me {
  padding: 7.5rem 1.25rem;
  text-align: center;
}

#me h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: var(--padding-standard);
  text-transform: uppercase;
}

#me p {
  font-size: var(--font-size-large);
  margin-bottom: var(--padding-large);
  color: var(--white-color);
  text-shadow: 0 0 10px var(--white-color);
}

main section {
  padding: var(--padding-standard);
  text-align: center;
  margin-bottom: var(--padding-large);
  background-color: var(--black-color);
  border-radius: var(--border-radius-large);
  margin: var(--padding-large);
  overflow: hidden;
  box-shadow: 0px 10px 20px 10px rgba(19, 19, 19, 0.75);
}

h2 {
  margin-bottom: var(--padding-standard);
  font-size: var(--font-size-large);
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
}

#projects {
  text-align: left;
  padding: var(--padding-large);
}

#projects h3 {
  margin-bottom: var(--padding-standard);
  font-size: var(--font-size-large);
  text-align: center;
}

#projects p {
  margin-top: 1rem;
  color: var(--white-color);
}
#projects ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}  

.top-button {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  display: none; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--box-shadow-light);
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.top-button.show { 
  display: flex; 
  opacity: 1; 
  transform: translateY(0); 
}
.top-button:hover {
  transform: scale(1.1);
  background-color: var(--white-color);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 100px 0px,
    rgba(113, 9, 183, 0.3) 0px 0px 60px 0px;
}

.top-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.top-button:hover svg {
  fill: var(--primary-color);
}


footer {
  background: var(--black-color);
  color: var(--white-color);
  padding: var(--padding-standard) 0;
  text-align: center;
  margin-top: 3.125rem;
  font-size: var(--font-size-small);
  font-weight: 500;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--padding-standard);
}

.course-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  padding: var(--padding-standard);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-light);
  transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.course-item:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-heavy);
}

.course-item img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-small);
  margin-bottom: var(--padding-standard);
}
#about{
  color: var(--black-color);
}
.aboutMe{
  color: var(--white-color);
  padding: var(--padding-large);
}
.aboutMe h3 {
  font-size: var(--font-size-medium);
}

.aboutMe p {
  font-size: var(--font-size-small);
  margin: var(--padding-small);
}

#skills ul{
  display: flex;
  justify-content: center;
  gap: var(--padding-small);
}
#skills svg{
  width: 3.5rem;
  height: 3.5rem;
}
.button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius-large);
  font-weight: bold;
  transition: all var(--transition-duration) ease;
  margin: 0.3125rem;
  text-align: center;
  box-shadow: var(--box-shadow-heavy);
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: translateY(-0.3125rem);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 100px 0px,
    rgba(113, 9, 183, 0.3) 0px 0px 60px 0px;
}

.button2 {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius-large);
  font-weight: bold;
  transition: all var(--transition-duration) ease;
  margin: 0.625rem;
  text-align: center;
  box-shadow: var(--box-shadow-heavy);
}

.button2:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  transform: translateY(-0.3125rem);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 100px 0px,
    rgba(113, 9, 183, 0.3) 0px 0px 60px 0px;
}

.button2:hover svg {
  fill: var(--primary-color);
}

a.button2 svg {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0.625rem;
  transition: all var(--transition-duration) ease-in-out;
  vertical-align: middle;
  fill: var(--white-color);
}

.form-label {
  font-size: var(--font-size-small);
}

@media screen and (max-width: 62rem) {
  #me {
    padding: 5rem 1rem;
  }

  #me h1 {
    font-size: 3rem;
  }

  #me p {
    font-size: var(--font-size-medium);
  }
}
.container-video {
  overflow: hidden; 
  border-radius: var(--border-radius-small);
  position: relative;
  width: 100%; 
  height: 40rem; 
}
video {
  display: block;
  width: 110%;
  height: 100%; 
  object-fit: cover; 
}

.label {
  border-radius: var(--border-radius-small);
  text-align: center;
  padding: var(--padding-small);
  margin: var(--padding-small);
  display: inline-block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.label:hover {
  transform: scale(1.1) rotate(10deg);
  animation: spin 0.5s forwards;
}

@keyframes spin {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(360deg);
  }
}

.HTML {
  background-color: #E34F26;
  border: solid 2px #9b2f11;
  color: #fff; 
}

.CSS {
  background-color: #1572B6;
  border: solid 2px #0f5689;
  color: #fff;
}

.JS {
  background-color: #F7DF1E;
  border: solid 2px #8e8018;
  color: #222; 
}

.Boostrap {
  background-color: #563D7C;
  border: solid 2px #3d2660;
  color: #fff;
}

